body {
    padding-bottom: 40px;
}

.results div .age{
    font-weight: bold;
    font-size: 30px;
}

.plots img{
    width: 100%;
    height: auto;
}
#lightbox-image{
	max-height: 80%;
	max-width: 80%;
}
