<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="trees-app">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Tree Age Estimator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="css/jquery.lightbox-0.5.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="js/treesCtrl.js"></script>
    <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>
<body ng-controller="TreesCtrl">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <a class="brand" href="#">Tree Age Estimator</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#instrukcja">Usage</a>
                    </li>
                    <li>
                        <a href="#metody">Metody</a>
                    </li>
                    <li>
                        <a href="#tabela">Tabela</a>
                    </li>
                    <li>
                        <a href="#wykresy">Wykresy</a>
                    </li>
                    <li>
                        <a href="#do-pobrania">Do pobrania</a>
                    </li>
                    <li>
                        <a href="#zrodla">Źródła</a>
                    </li>
                    <li>
                        <a href="#contact"> </a>
                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Dane</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Height</label>
                        <input id="wys" ng-model="height" class="form-control" type="text" placeholder="[m]">
                    </div>
                    <div class="row">
                    <div class="form-group piersnica col-xs-6">
                        <label><abbr title="Diameter at Breast Height">DBH</abbr></label>
                        <input id="pier" ng-model="dbh" type="text" class="form-control" placeholder="[cm]">
                    </div>
                    <div class="form-group obwod col-xs-6">
                        <label>Circumference</label>
                        <input id="obw" ng-model="circumference" type="text" class="form-control" placeholder="[cm]">
                    </div>
                    </div>

                    <div class="form-group">
                        <label>Gatunek</label>
                        <input type="text" class="form-control" ng-model="chosenTree" typeahead="tree as tree.name for tree in trees">
                    </div>

                    <button ng-click="calculate()" id="licz" class="btn btn-primary">
                        Oblicz
                    </button>
                    <small class="muted">Naciśnij <kbd>shift</kbd>+<kbd>enter</kbd> aby obliczyć</small>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row wyniki">
            <div id="result" class="{{resultClass}}">
                <div class="wynik">
                    {{result}}
                </div>
                <div class="wyjaśnienie">
                    {{explanation}}
                </div>
            </div>
            <div class="" id="wiek_luk">
                <div class="wynik">

                </div>
                <div class="wyjasnienie">

                </div>
            </div>
            <div class="" id="wiek_majd">
                <div class="wynik">

                </div>
                <div class="wyjasnienie">

                </div>
            </div>
            <div class="alert alert-error" id="zakres_majd">
                <div class="wynik">

                </div>
                <div class="wyjasnienie">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
<div class="col-sm-4">
    <div class="row">
        <div>
            <h3>Usage</h3>
            <ol>
                <li>Input the height of the tree. If you don't know the height, you can leave that field
                blank, but the estimation will probably be less accurate</li>
                <li>Provide the diameter at breast height (1.3 m) or the circumference of the tree at the height of 1.3 m.</li>
                <li>Choose the species form the dropdown list. To find one - just start typing.</li>
                <li>Click the <strong>estimate</strong></li>
            </ol>
         </div>
    </div>
    <div class="row">
        <div id="metody">
            <h3>Methods</h3>
            <h4>Jan Łukaszkiewicz method</h4>
            <p>
                This methods is implemented only for <em>Tilia cordata</em>,
                <em>Fraxinus excelsior</em> and <em>Aesculus hipocastanum</em>. It is based
                on an assumption, that the tree's age is the exponential function of its
                diameter and height. The coefficients for the species where acquired by using
                linear regression on a 400 trees sample from Warsaw.
            </p>
            <h4>Age tables by prof. dr. Longin Majdecki</h4>
            <p>
                In his work prof. Lingin Majdecki stated an estimate age ranges for certain diameter
                ranges of many tree species. It is possible to get a more accurate estimation by
                linear interpolation between these ranges. The estimator returns both the range and
                interpolated value (if the calculation is possible).
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4" id="do-pobrania">
                <h3>Downloads</h3>
                <ul>
                    <li><a href="files/print.pdf">Plots in one pdf file <i
                            class="icon-arrow-down"></i></a><br/></li>
                    <li><a href="files/charts.zip">Plots in separate png files <i
                            class="icon-arrow-down"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-4" id="zrodla">
                <h3>Bibliography</h3>
                <ul>
                    <li>
                        <a href="http://www.ptd.pl/download/2010/25-38.pdf">
                            Jan Łukaszkiewicz - Określanie wieku niektórych gatunków drzew ulicznych na podstawie
                            wybranych parametrów dendrometrycznych
                        </a>
                    </li>
                    <li>
                        prof. Dr Longin Majdecki - Tabela Wiekowa Drzew
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 tabela" id="tabela">
    <h3>Age table</h3>
    <small>by prof. dr. Longin Majdecki</small>
    <table class="table table-condensed">
        <thead>
        <tr>
            <td colspan="2"></td>
            <th colspan="5">Age [years]</th>
        </tr>
        <tr>
            <th colspan="2">Species</th>
            <td class="span3">20</td>
            <td>40</td>
            <td>70</td>
            <td>100</td>
            <td>120</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th colspan="5"><abbr title="Diameter at Breast Height">DBH</abbr> [cm]</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tree in trees">
            <td>{{tree.name}}</td>
            <td></td>
            <td>{{tree.ageTable[20]}}</td>
            <td>{{tree.ageTable[40]}}</td>
            <td>{{tree.ageTable[70]}}</td>
            <td>{{tree.ageTable[100]}}</td>
            <td>{{tree.ageTable[120]}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="col-sm-4 plots" id="wykresy">
    <h3>Wykresy</h3>

    <p>
        Wykresy sporządzone na podstawie tabeli L. Majdeckiego poprzez połaczenie kolejnych punktów prostymi.
        Do każdego wykresu został dodany punkt (0,5), ponieważ uważa się, że drzewo potrzebuje około 5 lat aby
        osiągnąć wysokość 1,3 m
    </p>
    <ul class="thumbnails list-unstyled">
        <li class="col-sm-6" ng-repeat="tree in trees">
            <a rel="lightbox" href="img/wykresy/{{tree.image}}" class="thumbnail img-polaroid">
                <img ng-src="img/wykresy/thumbs/{{tree.image}}" alt="">
            </a>

            <p>{{tree.multipleNames}}</p>
        </li>

    </ul>
</div>
</div>


</div>
<!-- /container -->
<footer>
    <hr>
    &copy; <a href="http://jjkrol.pl">Jakub Jan Król</a> dla <a href="http://mugostudio.pl">Mugostudio</a>
</footer>
<!--<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
</script>-->

<!--<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/jquery.lightbox-0.5.js"></script>
<script src="js/trees.js"></script>
<script src="js/main.js"></script>-->

</body>
</html>
